define host {

    name http_tpl
    use generic-host_tpl
    register 0

    # The response time of the request.
    _HTTP_WARN 5
    _HTTP_CRIT 8

    # The value of the --onredirect option.
    _HTTP_ONREDIRECT follow

    # By default, the service description is "http". The
    # service checks http://$HOSTADDRESS$ by default (if
    # you want to use a specific port, put it in the url 
    # like in "$HOSTADDRESS$:8080").
    #
    # By default, no regex are tested (ie the regex is empty).
    # The key below is a multivalue key with this form:
    #
    # <service description>$(<url>!<regex>)$
    #
    # When the regex is empty, the service just tests
    # the access to the url.
    _http_pages http$($HOSTADDRESS$!)$,

    # The same service but with more frequent checks
    # and an immediate notification when no OK.
    ;_sensitive_http_pages sensitive http$($HOSTADDRESS$!)$,

}


define host {

    name https_tpl
    use generic-host_tpl
    register 0

    # The response time of the request.
    _HTTPS_WARN 5
    _HTTPS_CRIT 8

    # The value of the --onredirect option.
    _HTTPS_ONREDIRECT follow

    # If the certificate expires in N day(s) with N =< <threshold>,
    # then there is a WARNING or a CRITICAL.
    _HTTPS_CERT_WARN 30
    _HTTPS_CERT_CRIT 10

    # The key is similar to the key above. By default,
    # the port number is 443 but you can change it in
    # the url.
    _https_pages https$($HOSTADDRESS$!)$,

    # The same service but with more frequent checks
    # and an immediate notification when no OK.
    ;_sensitive_https_pages sensitive https$($HOSTADDRESS$!)$,

}


