Source: snmpd-extend
Section: misc
Priority: extra
Maintainer: François Lafont <francois.lafont@crdp.ac-versailles.fr>
Build-Depends: devscripts, fakeroot, debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Vcs-Browser: https://github.com/flaf/shinken-packages/tree/master/snmpd-extend

Package: snmpd-extend
Architecture: all
Depends: ${misc:Depends}, sudo, lsb-release,
 sed (>> 4), coreutils (>> 6),
 perl, libdbd-mysql-perl,
 freeipmi-tools | apt (<< 0.7.30),
 jq | apt (<< 1.0),
Pre-Depends: snmpd
Description: Scripts which extend snmpd daemon
 Scripts used with the snmpd daemon and the extend statement.
