#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export PYBUILD_NAME=shinken
export QUILT_PATCHES=debian/patches
export QUILT_REFRESH_ARGS='-p ab --no-timestamps --no-index'

# The absolute path of the rules file.
# The realpath function returns the canonical absolute name.
# A canonical name does not contain any . or .. components,
# nor any repeated path separators (/) or symlinks.
RULES_PATH := $(realpath $(firstword $(MAKEFILE_LIST)))

# The working directory is obtained by removing the
# "/debian/rules" string at the end of RULES_PATH.
WORKING_DIR := $(realpath $(RULES_PATH:/debian/rules=))
DEBIAN_DIR := $(WORKING_DIR)/debian
BUILD_DIR := $(DEBIAN_DIR)/$(PYBUILD_NAME)

# List of files in the working directory which do not belong
# to the git repository (all files except the debian/ directory)
FILES_TO_CLEAN := $(shell cd $(WORKING_DIR) && \ls | grep -v debian)

# Version of Python.
PYTHON_VERSION := 2.7


%:
	dh $@ --with python2

override_dh_clean:
	# Directories which are created during a build and
	# which are not removed by dh_clean.
	rm -rf "$(WORKING_DIR)/build/"
	rm -rf "$(WORKING_DIR)/Shinken.egg-info/"
	dh_clean

override_dh_auto_install:
	dh_auto_install
	# Replace all the configuration after install.
	rm -rf "$(BUILD_DIR)/etc/$(PYBUILD_NAME)"
	mkdir "$(BUILD_DIR)/etc/$(PYBUILD_NAME)"
	cp -r "$(DEBIAN_DIR)/etc_$(PYBUILD_NAME)/"* "$(BUILD_DIR)/etc/$(PYBUILD_NAME)/"
	# Put Pyro4 in the build directory.
	cp -r "$(WORKING_DIR)/Pyro4/"* "$(BUILD_DIR)/usr/lib/python$(PYTHON_VERSION)/dist-packages/"

override_dh_installinit:
	#    --onlyscripts
	# Only modify postinst/postrm/prerm scripts, do not actually install any init script,
	# default files, or upstart job. May be useful if the init script or upstart job is
	# shipped and/or installed by upstream in a way that doesn't make it easy to let 
	# dh_installinit find it.
	dh_installinit --onlyscripts --error-handler=true

########################
### Personal targets ###
########################

git_clean:
	# Remove all files which mustn't belong to the git repository.
	dh_clean
	# All files in the working directory are removed except the debian/ directory.
	{ cd "$(WORKING_DIR)" && [ ! -z "$(FILES_TO_CLEAN)" ] && rm -rf $(FILES_TO_CLEAN); } || true
	cd "$(WORKING_DIR)" && rm -rf ".pc"
	# All files in the parent directory created by the building.
	cd "$(WORKING_DIR)" && rm -f ../$(PYBUILD_NAME)*.deb
	cd "$(WORKING_DIR)" && rm -f ../$(PYBUILD_NAME)*.dsc
	cd "$(WORKING_DIR)" && rm -f ../$(PYBUILD_NAME)*.changes
	cd "$(WORKING_DIR)" && rm -f ../$(PYBUILD_NAME)*.debian.tar.gz
	cd "$(WORKING_DIR)" && rm -f ../$(PYBUILD_NAME)*.build

populate_working_dir: git_clean
	# Extract the Shinken source.
	cd "$(WORKING_DIR)" && tar --strip-components=1 -zxf ../$(PYBUILD_NAME)_*.orig.tar.gz -C .
	# Extract the Pyro4 source.
	cd "$(WORKING_DIR)" && mkdir Pyro4
	cd "$(WORKING_DIR)" && tar --strip-components=1 -zxf ../$(PYBUILD_NAME)_*.orig-Pyro4.tar.gz -C Pyro4
	# Apply all the patches to the source.
	cd "$(WORKING_DIR)" && quilt push -a

create_deb: populate_working_dir
	cd "$(WORKING_DIR)" && debuild -us -uc && echo 'building is OK!'


